@charset "UTF-8";

/* 
하이퍼링크 밑줄 없애기
a {text-decoration-line: none;} */

h1 {
	margin-top : 50px;
	text-align: center;
	display : flex;
	flex-direction : column;
	align-items : center;
	font-weight : 600;
}

.menu-item {
	float : left; /* 왼쪽부터 한줄로 정렬 */
	text-align: center;
	/* 수직으로 가운데 정렬은 안쪽 여백을 둔다. */
	display : flex;
	flex-direction : column;
	align-items : center;
	font-weight : 600;
	margin-left : 120px;
	padding : 8px 0px;
	/* padding : 상우하좌(시계방향) 여백 조절(숫자 하나)
				 상하, 좌우 여백 조절(숫자 두개)
				 상 우 하 좌 각각 여백 조절(숫자 네개)
				 ※ margin도 똑같음 */	
}

#fullscreen{
	width: 1200px;
	height: 1200px;
	background-color: grey;
}
#screen1{
	width: 400px;
	height: 400px;
	background-color: black;
	float: left;
}
#screen1-1{
	width: 400px;
	height: 400px;
	background-color: rgb(255, 0, 0);
}
#screen1-2{
	width: 400px;
	height: 400px;
	background-color: yellow;
}
#screen2{
	width: 400px;
	height: 400px;
	background-color: black;
	float: left;
}
#screen2-1{
	width: 400px;
	height: 400px;
	background-color: blue;
}
#screen2-2{
	width: 400px;
	height: 400px;
	background-color: green;
}
#screen3{
	width: 400px;
	height: 400px;
	background-color: black;
	float: left;
}
#screen3-1{
	width: 400px;
	height: 400px;
	background-color: black;
}
#screen3-2{
	width: 400px;
	height: 400px;
	background-color: pink;
}
