@charset "UTF-8";
@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-DodamdodamR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-DodamdodamR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'KCC-Ganpan';
	font-size : 50px;
	margin-top : 50px;
	text-align: center;
	display : flex;
	flex-direction : column;
	align-items : center;
	font-weight : 600;
}

.menu-item {
	text-decoration-line: none; /* 하이퍼링크 밑줄 없애기*/
	
	font-family: 'KCC-DodamdodamR';
	font-size : 25px;
	float : left; /* 왼쪽부터 한줄로 정렬 */
	text-align: center;
	/* 수직으로 가운데 정렬은 안쪽 여백을 둔다. */
	display : flex;
	flex-direction : column;
	align-items : center;
	font-weight : 600;
	margin-left : 0;
	padding : 8px 0px;
	/* padding : 상우하좌(시계방향) 여백 조절(숫자 하나)
				 상하, 좌우 여백 조절(숫자 두개)
				 상 우 하 좌 각각 여백 조절(숫자 네개)
				 ※ margin도 똑같음 */	
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}

.navbar__menu { 
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
  
}

.navbar__menu li {  
  color: #000000; /* 하이퍼링크 색상 없애기 */
  padding: 8px 30px;
}

#wrap {
	width : 1200px;
	margin : 0 auto;
	overflow : hidden;
	padding-top : 30px;
}

article {
	float : left;
	text-align: center;
	margin-left : 30px;
	margin-bottom : 60px;
}

img {
	width : 200px;
	height : 200px;
	display : block;
} 

footer {
	font-family: 'KCC-DodamdodamR';
	color:#b0b0b0;
	text-align: center;
	display: block;
	}