@charset "UTF-8";
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	margin : 0px;
	padding : 0px;
	font-family: 'SUIT-Regular';
}

.container {
	width : 1200px;
	margin : 0 auto;
}

/* 메뉴 상단 고정 */
.sticky{
    position:sticky; z-index:2;
    top:0px;
}
        
/* Start! 1. 깃허브, 티스토리, 블로그 */
.top {
	background-color:#FFFFFF;
	padding: 10px 30px;
	line-height: 50px;
	text-align:right;
}
.top_menu {
	display: inline-block;  /* div가 inline 요소가 되어서 위에 text-align:right;가 적용됨 */
}
/* End! 1. 깃허브, 티스토리, 블로그 */

/* Start! 2. 타이틀, 네이게이션 */
ul, li {list-style:none;}
a{text-decoration:none;font-size:15px}
nav{overflow:hidden;height:80px;}

nav>a:link { color: #6aa888; text-decoration: none}
nav>a:visited { color: #6aa888; text-decoration: none}
nav>a:hover { color: #6aa888; text-decoration: none}
/* a:link : 클릭하지 않은 링크
a:visited : 한번 클릭했던 혹은 다녀갔던 링크
a:hover : 링크를 클릭하려고 마우스를 가져갔을 때 */
#navbar {
  background-color:#FFFFFF;
}

#navbar>a {
  display: block; /* a태그는 글자성격 = inline */
  float: left;
  font-size: 30px;
  font-weight: 900;
  line-height: 50px;
  padding: 15px 30px;
}

li>a:link { color: #c0c0c0; text-decoration: none}
li>a:visited { color: #c0c0c0; text-decoration: none}
li>a:hover { color: #666666; text-decoration: none}

#navbar>ul {
  float: right;
}
#navbar>ul li {
  float: left;
  padding: 15px 30px;
  line-height: 50px;
}
/* End! 2. 타이틀, 네이게이션 */

/* Start! 3. 프로젝트 이미지 자동 슬라이드 */

[name="slide"] {display:none;}
.slidebox {max-width: 1000px;width: 100%;margin: 0 auto; position:relative;z-index:1}
.slidebox img {max-width: 100%;}
.slidebox .slidelist {
	white-space: nowrap;
	font-size: 0;
	overflow: hidden;
}
.slidebox .slideitem {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	transition: all .35s;
}

[id="slide01"]:checked ~ .slidelist .slideitem {transform: translateX(0);animation: slide01 20s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform: translateX(-100%);animation: slide02 20s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform: translateX(-200%);animation: slide03 20s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform: translateX(-300%);animation: slide04 20s infinite;}

@keyframes slide01 {
	0% {left: 0%;}
	23% {left: 0%;}
	25% {left: -100%;}
	48% {left: -100%;}
	50% {left: -200%;}
	73% {left: -200%;}
	75% {left: -300%;}
	98% {left: -300%;}
	100% {left: 0%;}
}

@keyframes slide02 {
	0% {left: 0%;}
	23% {left: 0%;}
	25% {left: -100%;}
	48% {left: -100%;}
	50% {left: -200%;}
	73% {left: -200%;}
	75% {left: 100%;}
	98% {left: 100%;}
	100% {left: 0%;}
}

@keyframes slide03 {
	0% {left: 0%;}
	23% {left: 0%;}
	25% {left: -100%;}
	48% {left: -100%;}
	50% {left: 200%;}
	73% {left: 200%;}
	75% {left: 100%;}
	98% {left: 100%;}
	100% {left: 0%;}
}

@keyframes slide04 {
	0% {left: 0%;}
	23% {left: 0%;}
	25% {left: 300%;}
	48% {left: 300%;}
	50% {left: 200%;}
	73% {left: 200%;}
	75% {left: 100%;}
	98% {left: 100%;}
	100% {left: 0%;}
}

.slidebox input[type="radio"] {  /* 라디오 박스 숨기기 */
	  position: absolute;
      width: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
      border: 0;
}

.slidebox label {   /* 슬라이드 버튼(label) */
     margin-top: 20px;
     margin-left: 20px;
      width: 30px;
       height: 0.5px;
       background-color: #b0b0b0;
       border-radius: 2px;
       padding: 3px 3px;
      cursor: pointer;
     transition: all 0.3s ease;
     position: relative;
     display: inline-block;
       box-shadow:inset 1px 1px 1px 0px rgba(255,255,255,.5),
               2px 2px 5px 0px rgba(0,0,0,.1),
               1px 1px 2px 0px rgba(0,0,0,.1);
       outline: none;
}
/* End! 3. 프로젝트 이미지 자동 슬라이드 */

/* Start! 4. 프로젝트 */

.pj_list {
	max-width:1200px;
	width: 100%;
	margin:0 auto;
	margin-top: 50px;
}

.pj_list > h2 {margin-left: 20px; color: #666666;}

.pj_list > ul {font-size:0;}

.pj_list > ul > li {
	display: inline-block;
	vertical-align:top;
	width: 30%;		/* 한 줄 이미지 각각 비율 */
	margin-left:30px;
}

.pj_list > ul > li > a {
	display: block;
	width: auto;
	text-decoration: none;
	margin: 20px;
}

.pj_list > ul > li > a .screen {
	position: relative;
	overflow: hidden;
}

/* End! 4. 프로젝트 */

/* Start! 5. footer 부분 */
table {
	width: 1200px;
	height: 300px;
	color: #666666;
}
footer {
	width : 1200px;
	margin : 0 auto;
	color:#b0b0b0;
	text-align: center;	
}
/* End! 5. footer 부분 */
